.profile {
  background-color: #f0ead2;
  display: flex;
  flex-direction: column;
  min-height: 694px;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
}

.profile .IMG {
  aspect-ratio: 8.89;
  height: 36px;
  margin-left: -3220px;
  margin-top: -26px;
  width: 320px;
}

.profile .group {
  height: 35.93px;
  margin-left: 30px;
  margin-top: 28px;
  position: relative;
  width: 271.04px;
}

.profile .curious {
  aspect-ratio: 1.28;
  height: 36px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 46px;
}

.profile .text-wrapper {
  color: #859e4f;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: calc(50.00% - 136px);
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.profile .shell-sticker {
  height: 225px;
  margin-left: 47.0px;
  margin-top: 30.1px;
  position: relative;
  width: 225px;
}

.profile .vector {
  height: 237px;
  left: -5px;
  position: absolute;
  top: -4px;
  width: 237px;
}

.profile .img {
  height: 199px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 199px;
}

.profile .group-2 {
  height: 65px;
  left: 57px;
  position: absolute;
  top: 6px;
  width: 68px;
}

.profile .group-3 {
  height: 65px;
  left: 128px;
  position: absolute;
  top: 81px;
  width: 68px;
}

.profile .div {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 107px;
  margin-left: 2px;
  margin-top: 69.0px;
  width: 262px;
}

.profile .text-wrapper-2 {
  color: #94654d;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 13px;
  letter-spacing: 0;
  line-height: 12.6px;
  margin-left: -167px;
  white-space: nowrap;
  width: 95px;
}

.profile .group-4 {
  height: 40px;
  margin-top: 10px;
  position: relative;
  width: 262px;
}

.profile .background-image {
  height: 40px;
  left: calc(50.00% - 131px);
  position: absolute;
  top: 0;
  width: 260px;
}

.profile .text-wrapper-3 {
  color: #6c584c;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: calc(50.00% - 120px);
  letter-spacing: 0;
  line-height: 12.6px;
  position: absolute;
  top: calc(50.00% - 7px);
  white-space: nowrap;
}

.profile .group-5 {
  height: 40px;
  margin-top: 4px;
  position: relative;
  width: 262px;
}

.profile .background-image-2 {
  background-color: #faf2dd;
  border-radius: 15px;
  height: 40px;
  left: calc(50.00% - 131px);
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 260px;
}

.profile .group-6 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 107px;
  margin-left: 2px;
  margin-top: 30px;
  width: 262px;
}

.profile .text-wrapper-4 {
  color: #94654d;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 13px;
  letter-spacing: 0;
  line-height: 12.6px;
  margin-left: -230px;
  white-space: nowrap;
  width: 32px;
}